<% if @bang.nil? %>
	<%= will_paginate @response["response"]["docs"], class: 'pagination pagination-centered' %>
			<% @response["response"]["docs"].each do |doc| %>
				<div class="feed-title-row">
					<h2 class="feed-title-text"><%= link_to(doc["title"].upcase, doc["baseUrl"])  %></h2>
				</div>
				<% @text = @response["highlighting"][doc["baseUrl"]]["text"].first %>
				<p><%= @text.html_safe %></p>
			<% end %>
	<%= will_paginate @response["response"]["docs"], class: 'pagination pagination-centered' %>
	<p class="muted"><%= @query %></p>
<% else %>
	<h1>Search failed</h1>
	<h3>
		<% @bang.to_yaml if Rails.env.development? %>
	</h3>
<% end %>