<% if @bang.nil? %>
	<div class="row-fluid">
		<%= will_paginate @response["response"]["docs"], class: 'pagination pagination-centered' %>
	</div>
	<% i = 0 %>
	<% @response["response"]["docs"].each_with_index do |doc, i| %>
		<% row_type = ('row-fluid row-light' if i % 2 == 0) || 'row-fluid dark' %>
		<div class= "<%= row_type %>" >
			<div class='feed-content'>
				<h2><%= link_to(doc["title"].upcase, doc["baseUrl"])  %></h2>
				<% @text = @response["highlighting"][doc["baseUrl"]]["text"].first %>
				<p><%= @text.html_safe %></p>
			</div>
		</div>
	<% end %>
	<div class="row-fluid">
		<%= will_paginate @response["response"]["docs"], class: 'pagination pagination-centered' %>
	</div>
	<p class="muted"><%= @query %></p>
<% else %>
	<h1>Search failed</h1>
	<h3>
		<% @bang.to_yaml if Rails.env.development? %>
	</h3>
<% end %>